* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-decoration: none;
    color: black;
    /* margin: 60px; */
    overflow-x: hidden;

    font-family: 'Inter', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

/* standard classes */

.titel {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}


/* custom */

header nav {
    width: 100vw;
    height: 65px;

    background: #D9D9D9;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 15px; */
}

header nav div:first-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav div:first-child a {
    text-decoration: none;
    color: black;
    padding: 15px;
    color: #000;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header nav div:first-child .logo {
    text-decoration: none;
    color: black;
    padding: 15px;
    background-color: #5c5c5c;
}

header nav .search {
    width: 20%;
    padding: 10px;
    border: solid 2px black;
    background: #D9D9D9;
    color: #000;
}

header nav .search::placeholder {
    color: #000;
}

header nav div:last-child {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav div:last-child a {
    text-decoration: none;
    color: black;
    padding: 15px;
}


header .greet {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 225px;
    font-size: 48px;
    font-weight: bold;
}

.menu {
    background-color: #F5F5F5;
    padding: 80px 0px 80px 80px;
}

.ohm-titel {
    font-size: 40px;
}

.op-het-menu {
    display: flex;
    gap: 15px;

    overflow-x: scroll;
}

.kaart {
    width: 40vw;
}

.kaart:nth-child(3) {
    opacity: 0.2;
}

.kaart img {
    height: auto;
    width: 40vw;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
}

.kaart .recept-info {
    padding: 20px;
    background: #D9D9D9;
}

.kaart .recept-info .recept-naam {
    font-size: 24px;
    font-weight: 700;
}

.kaart .recept-info .product-aantal {
    color: #17A400;
}


.voorjou {
    padding: 80px;
}

.voorjou .wrapper {
    display: flex;
    flex-direction: row;
}

.voorjou img {
    width: 60vw;
    aspect-ratio: 5/4;
    object-fit: cover;
    object-position: top;
}

.voorjou .wrapper .side {
    padding: 32px;
    background: #B0B0B0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voorjou .wrapper .side p {
    font-size: 24px;
}

.voorjou .wrapper .side h3 span {
    font-size: 48px;
}

.voorjou .wrapper .side h3 {
    font-size: 40px;
}

.voorjou .wrapper .side button {
    width: fit-content;
    padding: 20px;
    background: #D9D9D9;
    border: none;
    font-size: 24px;
}

.aanbiedingen {
    padding: 80px;
    background-color: #F5F5F5;
}

.aanbieding {
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.aanbiedingen .aanbieding-kaart {
    display: flex;
    flex-direction: column;
}

.aanbiedingen .aanbieding-kaart img {
    aspect-ratio: 2/3;
    width: calc(25vw - 51.25px);
    object-fit: cover;
    object-position: 75%;
}

.aanbiedingen .aanbieding-kaart .aanbieding-info {
    padding: 20px;
    background: #D9D9D9;
}

.aanbiedingen .aanbieding-kaart .aanbieding-info .aanbieding-product {
    font-size: 24px;
    font-weight: 700;
}

.recepten-voor-jou {
    padding: 80px 0px 80px 80px;
}

.recepten {
    display: flex;
    gap: 15px;

    overflow-x: scroll;
}

.recept-kaart {
    width: calc(33.33vw - 63.33px);
}

.recept-kaart:nth-child(4) {
    opacity: 0.2;
}

.recept-kaart img {
    height: auto;
    width: calc(33.33vw - 63.33px);
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
}

.recept-kaart .recept-info {
    padding: 20px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.recept-kaart .recept-info .recept-naam {
    font-size: 24px;
    font-weight: 700;
}

.recept-kaart .recept-info .product-aantal {
    color: #17A400;
}

.recept-kaart .recept-info .recept-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.spaaracties {
    padding: 80px;
}

.spaaracties .spaaractie {
    display: flex;
    gap: 15px;
}

.spaaracties .spaaractie .spaaractie-kaart {
    width: calc(33.33vw - 63.33px);
}

.spaaracties .spaaractie .spaaractie-kaart img {
    aspect-ratio: 3/2;
    width: calc(33.33vw - 63.33px);
}

.spaaracties .spaaractie .spaaractie-kaart .aanbieding-info {
    padding: 20px;
    background: #D9D9D9;
}

.spaaracties .spaaractie .spaaractie-kaart .aanbieding-info .aanbieding-product {
    font-size: 24px;
    font-weight: 700;
}


/*Mijn voorraad pagina*/ 

   

.search-voorraad
{ 
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
}

.search-voorraad-input input {
        width: 20vw;
        padding: 10px;
        border: solid 2px black;
        background: #D9D9D9;
        color: #000;
}

.search-voorraad-input input::placeholder{
    color: black;
}

.search-voorraad .upload-kassabon-button button {
    width: 10vw;
    padding: 10px;
    background: #B0B0B0;
    color: #000;
    border: none;
}



.recent-verwijderd {
    padding: 80px 0px 80px 80px;
}

.verwijderde-producten {
    display: flex;
    flex-direction: row;
    gap: 15px;

    overflow-x: scroll;
    
}

.verwijderde-producten .verwijderd-kaart {
    display: flex;    
    flex-direction: column;
    width: calc(25vw - 51.25px);


}

.verwijderde-producten .verwijderd-kaart:nth-child(5) {
    opacity: 0.2;
}

.verwijderde-producten .verwijderd-kaart img {
    height: auto;
    width: calc(25vw - 51.25px);
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: center;
}

.verwijderd-kaart .verwijderd-product-info {
    padding: 20px;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;

}

.verwijderd-kaart .verwijderd-product-info .product-naam {
    font-size: 24px;
    font-weight: 700;


}

.verwijderd-kaart .verwijderd-product-info .recent-verwijderd-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verwijderd-categorie {
    padding: 80px;
    background: #F5F5F5;

}

.verwijderd-categorie .categorie-blokken {
    display: flex;
    flex-direction:row;
    gap: 15px;
}

.verwijderd-categorie .categorie-blokken .categorie-blokken-rij {
    display: flex;
    flex-direction: column;
    gap: 15px;    
}

.verwijderd-categorie .categorie-blokken .categorie-naam {
    padding: 56px 153px;
    justify-content: space-between;
    background-color: #D9D9D9;
    overflow: hidden;
    font-size: 32px;
    text-align:center;
    
}

/*Mijn voorraad zoekresultaat wortel*/ 

.resultaten-mijnvoorraad {
    padding: 80px;
}

.resultaten-mijnvoorraad h2 {
    padding-bottom: 0;
}

.resultaten-mijnvoorraad .resultaten-aantal {
    font-size: 24px;
    padding-bottom: 40px;
}

.resultaten-mijnvoorraad .resultaten-aantal span {
    font-weight: 700;
}

.resultaten-mijnvoorraad .filters-resultaat-voorraad {
    display: flex;
    gap: 15px;
}
.resultaten-mijnvoorraad .filters-resultaat-voorraad button{
    font-size: 24px;
    width: 10vw;
    padding: 10px;
    background: #B0B0B0;
    color: #000;
    border: none;
    text-align: start;
    font-weight: 400;
}


/*NOG NAAST ELKAAR PLAATSEN*/
.producten-wortel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15px;
    padding: 80px;
    justify-content: space-between;
}

.producten-wortel .product-kaart {
    width: calc(50vw - 87.5px);
}

.producten-wortel .product-kaart img {
    height: auto;
    width: calc(50vw - 87.5px);
    aspect-ratio: 4/2;
    object-fit: cover;
    object-position: center;
}

.product-kaart .info-product {
    padding: 20px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-kaart .info-product .titel-product {
    font-size: 24px;
    font-weight: 700;
}

.product-kaart .info-product .product-aantal {
    font-size: 16px;    
}

.product-kaart .info-product .button-product-aantal  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-kaart .info-product .button-product-aantal .min {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #B0B0B0;
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    border: none;
    

}

.product-kaart .info-product .button-product-aantal .plus {
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #B0B0B0;
    text-align: center;
    font-size: 24px;
    font-weight: 700px;
    border: none;


}

.product-kaart .info-product .button-product-aantal .aantal {
    border-radius: 100px;
    width: 80px;
    height: 40px;
    background-color: #B0B0B0;
    text-align: center;
    padding: 3px;
    font-size: 24px;
    font-weight: 700px;
    border: none;

}

/*Mijn voorraad -categorie pagina */

.resultaten-mijnvoorraad .filters-resultaat-voorraad .categorie {
    background-color: #D9D9D9;
}
.resultaten-mijnvoorraad .titel {
    font-weight: normal;
} 
.resultaten-mijnvoorraad .titel span {
    font-weight: 700;
} 




@media only screen and (max-width: 600px) {
    .hide-scroll {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .hide-scroll::-webkit-scrollbar {
        display: none;
    }
}

.liked {
    background-color: #17A400;
}